.btn-register {
    border-radius: 0;
    margin-left: 20px;
    padding: 10px 10px;
    background: #f2f2f2;
    color: gray;
    border: 1px solid #c1c1c1;
    font-weight: normal;
}

.div-register input.form-control {
    border-radius: 0;
    max-width: 338px;
}

.div-register input.btn {
    border-radius: 0;
}

.div-register {
    width: 700px;
    margin: 50px auto;
}

    .div-register form {
        border: 1px solid #e7e7e7;
        box-shadow: 0 1px 1px #c7c5c5;
        padding: 40px 0px 40px;
        margin-bottom: 100px;
    }

        .div-register form label {
            font-weight: normal;
        }
