@{
    ViewBag.Title = "首页";
    @Styles.Render("~/Content/index")
}

<div id="banner" class="banner_index">
    <div class="z_wt">
        <div class="t1">颠覆传统&nbsp;&nbsp;重新定义网站建设</div>
        @*<div class="t2">
            <span class="col1">已累计服务<span class="timer count-title" id="count-number" style="font-size:28px; margin:0 10px;" data-to="8197942" data-speed="1500">000,027</span>个网站</span>
        </div>*@
    </div>
</div>

<div class="container body-content webs">
    <div class="row">
        <div class="col-xs-12 tit">
            <h4 class="fl">1F 企业营销版</h4>
            <span class="fl">PC站、手机站、微信网站，APP，一个不能少</span>
            <a target="_blank" href="/cn/website/marketing.aspx" class="fr but">创建网站</a>
            <div class="clear"></div>
            <b style="display:block"></b>
        </div>
        <div class="col-xs-12">
            <div class="m-o fl">
                <div class="m-o-t"></div>
                <div class="m-o-b">
                    <p>快速塑造品牌核心竞争力<br>全网营销互动，留住客户</p>
                </div>
            </div>
            <div class="m-t fl">
                <ul>
                    <li class="li-o">
                        <a target="_blank" href="/cn/website/marketing.aspx">
                            <h5>PC+手机+微信 +APP 全功能营销版<span>提升咨询量、订单量、成交量</span></h5>
                            <img src="/images/index/n-5.gif">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/cn/website/marketing.aspx">
                            <h5>企业PC营销型网站<span>更多客户快速找到您  爱上您</span></h5>
                            <div class="li-img"><img src="/images/index/n-6.gif"></div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/cn/website/marketing.aspx">
                            <h5>成本低   见效快 <span>咨询转化率高  提升营销效益</span></h5>
                            <div class="li-img"><img src="/images/index/n-7.gif"></div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/cn/webnew/weisite.aspx">
                            <h5>微信营销版<span>超64种 超强微信应用</span></h5>
                            <div class="li-img"><img src="/images/index/n-8.gif"></div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/cn/webnew/weisite.aspx">
                            <h5>强力吸引粉丝<span>促进销量 刺激业绩增长</span></h5>
                            <div class="li-img"><img src="/images/index/n-9.gif"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>