<footer>
    <p style="color:#797979; font-size:13px;margin-top:4px;">网站建设，网站制作，网站设计，网页设计，网站模板，网页模板，企业建站，自助建站就选51建站</p>
    <p style="color:#797979; font-size:13px;margin-top:-3px; line-height:32px">2006-2015 SiteStar, All Rights Reserved. 沪ICP备11006888号</p>
</footer>
